.HomePageTeam {
    height: 250px;
    width: auto;
    border: 2px solid royalblue;
    margin: 10px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33b5e5;
    border-radius: 16px;
}

.HomePageTeam:hover {
    background-color: #0099CC;
    text-decoration: none;
}

.HomePageTeam h1 {
    text-align: center;
}