.MatchDetailCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 12px;
  padding: 12px 12px 0 12px;

  .match-date,
  .match-venue {
    margin-top: 5px;
  }

  .match-result {
    margin-top: 16px;
  }

  .additional-match-details {
    text-align: right;

    & > p {
      margin-bottom: 20px;
    }
  }
}
