.YearSelector {
  .year-selector-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

  .year-selector-list li {
      margin-bottom: 16px;
      text-align: right;
      margin-right: 22px;
  }

  .active {
    font-weight: bold;
    font-size: 20px;
  }
}