.IndexPage {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .ipl-db-head {
        margin-top: 40px;
        margin-bottom: 20px;
        grid-column: span 2;
        text-align: center;
    }
}