.MatchPage {
  display: grid;
  grid-template-columns: 2fr 10fr;
  margin-top: 26px;

  .go-back-link {
    text-align: right;
    color: #fff;
  }

  .go-back-link:hover {
    color: lightgray;
  }

  .team-match-head {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .match-info {
    grid-column: span 1;
  }

  .no-matches-found {
    display: flex;
    justify-content: center;
  }
}
