.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .go-to-home-page {
    position: absolute;
    margin-top: -150px;
  }

  .team-name-section {
    grid-column: span 3;
    justify-self: start;
    align-self: end;
    margin-bottom: 40px;
  }

  .team-name-section h1 {
    font-size: 4rem;
  }

  .win-loss-section {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .win-lose-pie-chart {
    width: 66%;
    height: 66%;
    margin-left: auto;
  }

  .latest-match-section {
    grid-column: span 4;
  }

  .recent-matches {
    padding: 12px;
  }

  .more-button {
    display: flex;
    align-items: center;

    & > a {
      color: #fff;
      font-size: 20px;
      margin-left: 20px;
    }
  }
}
